/* added space background for more color */
body {
  background-color: azure;
  overflow-x: hidden;
}

/* Changes the background so the image was not showing through */
nav {
  background-color: #aed9ee;
  overflow-x: hidden;
}

h4 {
  color: #aed9ee;
}
/* padding to help with centering issue */
/* .card-body {
  padding-left: 0px;
  padding-right: 0px;
} */
