/* added space background for more color */
body {
  background-color: azure;
  overflow-x: hidden;
}

/* Changes the background so the image was not showing through */
nav {
  background-color: #aed9ee;
  overflow-x: hidden;
}

/* added coloring to the header of each page to work with theme */
h4 {
  color: #aed9ee;
}
/* added margin so the boxes were not up against the nav bar */

.card {
  margin-top: 5rem;
}

.notme {
  float: left;
  padding: 10px;
  margin: 10px;
}

p {
  padding: 10px;
  margin: 10px;
}

footer {
  text-align: center;
}
